<ion-header>
  <ion-navbar>
    <ion-title>{{entityName}}</ion-title>
    <!-- <div id="div2">
    <ion-title>Player</ion-title>
    <audio-track #audioTrack [track]="currentTrack" [autoplay]="true" (onFinish)="onTrackFinished($event)">
        <div>
       <ion-toolbar text-center transparent >
        <ion-icon  tappable class="controls" (click)="prev()" name="rewind" style="font-size: 46px;padding-right:21px;"></ion-icon>
        <ion-spinner *ngIf="audioTrack && audioTrack.isLoading"></ion-spinner>
        <span *ngIf="audioTrack && !audioTrack.isLoading">
        <ion-icon *ngIf="!audioTrack.isPlaying" tappable class="controls" (click)="audioTrack.canPlay ? audioTrack.play() : next()" name="play" style="font-size: 46px;padding-right:10px;padding-left:10px;"></ion-icon>
        <ion-icon *ngIf="audioTrack.isPlaying"  tappable class="controls" (click)="audioTrack.pause()" name="pause" style="font-size: 46px;padding-right:10px;padding-left:10px;"></ion-icon>
        </span>
        <ion-icon tappable class="controls" (click)="next()" name="fastforward" style="font-size: 46px;padding-left:21px;"></ion-icon>
      </ion-toolbar>

        </div>
        <div style="display: flex; justify-content: center; height: 50px">
          <audio-track-progress-bar  duration progress [audioTrack]="audioTrack" [ngStyle]="{visibility: audioTrack.completed > 0 ? 'visible' : 'hidden'}"></audio-track-progress-bar>
        </div>
        <div style="display: flex; justify-content: center; height: 50px">
          <div *ngIf="audioTrack && audioTrack.hasLoaded"><em>{{ audioTrack?.title }}</em></div>
        </div>
      </audio-track>
    </div> -->
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let track of myTracks">
      <ion-thumbnail item-left>
        <img src="{{track.art}}">
      </ion-thumbnail>
      <h2>{{track.name}}</h2>
      <button ion-button (click)="playService(track, newIndex)">Play</button><button ion-button (click)="add(track)">Add</button>
      <!-- <button ion-button (click)="currentTrack = track">Play</button><button ion-button (click)="add(track)">Add</button> -->
    </ion-item>
  </ion-list>

<!--
  <ion-list *ngIf="playlist.length > 0">
    <ion-list-header no-lines inset>
      PLAYLIST
      <button ion-button clear item-right (click)="clear()">Clear</button>
    </ion-list-header>
    <ion-item *ngFor="let track of playlist; let i = index">
      <h2>{{ track.name }}</h2>
      <p>{{ track.artist }}</p>
      <button ion-button icon-only item-end (click)="play(track, i)">
          <ion-icon name="play"></ion-icon>
        </button>
    </ion-item>
  </ion-list> -->

</ion-content>
