<ion-header>
  <ion-navbar>
    <ion-title>{{entityName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="mastersHome">

  <ion-list>
    <ion-item *ngFor="let track of myTracks">
      <ion-thumbnail item-left>
        <img src="{{track.art}}">
      </ion-thumbnail>
      <h2>{{track.name}}</h2>
      <button ion-button (click)="playService(track, newIndex)">Play</button><button ion-button (click)="add(track)">Add to queue</button>
      <!-- <button ion-button (click)="currentTrack = track">Play</button><button ion-button (click)="add(track)">Add</button> -->
    </ion-item>
  </ion-list>

<!--
  <ion-list *ngIf="playlist.length > 0">
    <ion-list-header no-lines inset>
      PLAYLIST
      <button ion-button clear item-right (click)="clear()">Clear</button>
    </ion-list-header>
    <ion-item *ngFor="let track of playlist; let i = index">
      <h2>{{ track.name }}</h2>
      <p>{{ track.artist }}</p>
      <button ion-button icon-only item-end (click)="play(track, i)">
          <ion-icon name="play"></ion-icon>
        </button>
    </ion-item>
  </ion-list> -->

</ion-content>
