<ion-header>

  <ion-navbar>
    <ion-title>Player</ion-title>
  </ion-navbar>


  <p></p>
</ion-header>


<ion-content padding>
    <div>
      <!-- <ion-range min="0" max="{{currentDuration}}" snaps="true" [(ngModel)]="currentPosition" color="danger">
        <ion-icon range-left small color="danger" name="thermometer">{{position_string}}</ion-icon>
        <ion-icon range-right color="danger" name="thermometer">{{duration_string}}</ion-icon>
      </ion-range> -->

      <ion-range min="0" max="{{currentDuration}}" [(ngModel)]="currentPosition">
        <ion-label range-left small color="danger">{{ position_string }}</ion-label>
        <ion-label range-right *ngIf="currentDuration == -1" >-1</ion-label>
        <ion-label range-right *ngIf="currentDuration != -1">{{ duration_string }}</ion-label>
      </ion-range>
    </div>
    <p>{{trackTittle}}</p>
    <!-- <h2>{{ position_string }} / {{ duration_string }}</h2> -->
    <ion-grid>
      <ion-row justify-content-center align-items-center style="height: 100%">
        <ion-col>
          <!-- Backwards -->
          <button ion-button class="skip-btn" color="primary" [disabled]="!is_ready || !is_in_play" (click)="controlSecondsService('back')">
                  &nbsp;&nbsp;<ion-icon name="skip-backward"></ion-icon>&nbsp;&nbsp;
          </button>
        </ion-col>
        <ion-col>
          <!-- Play/Pause -->
          <button ion-button class="play-pause-btn" (click)="play()" color="primary" *ngIf="!is_playing" [disabled]="!is_ready">
            <ion-icon name="play"></ion-icon>
          </button>

          <button ion-button class="play-pause-btn" (click)="pause()" color="secondary" *ngIf="is_playing" [disabled]="!is_ready">
            <ion-icon name="pause"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <!-- Forwards -->
          <button ion-button class="skip-btn" color="primary" [disabled]="!is_ready || !is_in_play" (click)="controlSecondsService('forward')">
                  &nbsp;&nbsp;<ion-icon name="skip-forward"></ion-icon>&nbsp;&nbsp;
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
